footer.footer
  div(class="footer__container")
    div(class="footer__newsletter")
      div(class="newsletter-info")
        h3 Đừng bỏ lỡ ưu đãi
        p Đăng ký để nhận thông tin ưu đãi mới nhất
      form(class="newsletter-form" action="/contact/create" method="POST")
        input(name="email" placeholder="Nhập email của bạn..." type="email" required)
        button(type="submit") 
          | Đăng Ký 
          i.fa-regular.fa-paper-plane

    div(class="footer__main")
      // Col 1: Brand Info
      div(class="footer__col brand-col")
        a.logo(href="/")
          img(src=settingWebsiteInfo.logo, alt=settingWebsiteInfo.websiteName)
        p Điểm đến số 1 cho những người đam mê thể thao. Cam kết hàng chính hãng 100%, chất lượng đỉnh cao, dịch vụ tận tâm.
        div(class="footer__social")
          a(href="#"): i.fa-brands.fa-facebook-f
          a(href="#"): i.fa-brands.fa-instagram
          a(href="#"): i.fa-brands.fa-twitter
          a(href="#"): i.fa-brands.fa-youtube


      // Col 3: Support
      div(class="footer__col")
        h4 Hỗ Trợ Khách Hàng
        ul.footer__links
          li: a(href="#") Hướng dẫn mua hàng
          li: a(href="#") Chính sách đổi trả
          li: a(href="#") Chính sách bảo hành
          li: a(href="#") Vận chuyển & Giao nhận
          li: a(href="#") Bảo mật thông tin
          li: a(href="#") Câu hỏi thường gặp

      // Col 4: Contact
      div(class="footer__col contact-col")
        h4 Liên Hệ
        ul.footer__contact
          li
            if(settingWebsiteInfo.address)
              div.icon-wrapper
                i.fa-solid.fa-location-dot
              span #{settingWebsiteInfo.address}
          li
            if(settingWebsiteInfo.phone)
              div.icon-wrapper
                i.fa-solid.fa-phone
              span #{settingWebsiteInfo.phone}
          li
            if(settingWebsiteInfo.email)
              div.icon-wrapper
                i.fa-solid.fa-envelope
              span #{settingWebsiteInfo.email}

  // BOTTOM
  div(class="footer__bottom")
    div(class="footer__bottom-inner")
      p © 2026 TitiSport. All rights reserved. Designed for athletes.