.top-bar
  .top-bar__inner
    if(settingWebsiteInfo.phone)
      .top-bar__item
        i.fa-solid.fa-phone
        | #{settingWebsiteInfo.phone}

    if(settingWebsiteInfo.email)
      .top-bar__item
        i.fa-solid.fa-envelope
        | #{settingWebsiteInfo.email}
  
    if(settingWebsiteInfo.address)
      .top-bar__item
        i.fa-solid.fa-location-dot
        | #{settingWebsiteInfo.address}

nav.navbar
  .navbar__inner
    button.mobile-toggle-btn
      i.fa-solid.fa-bars

    a.logo(href="/")
      img.logo__img(src=settingWebsiteInfo.logo, alt=settingWebsiteInfo.websiteName)

    .mobile-overlay

    .nav-menu-wrapper
      button.mobile-close-btn
        i.fa-solid.fa-xmark
        
      ul.nav-links
        li
          a(href="/") Trang Chủ
          
        each item in categoryList
          li
            a(href=`/category/${item.slug}`) #{item.title}
              if(item.children && item.children.length > 0)
                i.fa-solid.fa-chevron-down.arrow
                
            if(item.children && item.children.length > 0)
              .dropdown
                each itemChild in item.children 
                  a(href=`/category/${itemChild.slug}`) #{itemChild.title}
              
        li
          a(href="/article") Tin Tức
          
        //- li
        //-   a(href="") Liên Hệ

    .nav-actions
      button.action-btn.search-btn-mobile
        i.fa-solid.fa-magnifying-glass

      a(href="/cart").action-btn
        i.fa-solid.fa-cart-shopping
        span(class = `action-badge ${miniCart > 0 ? 'badge-red' : ''}` )  #{miniCart > 0 ? miniCart : ''}

      if (user) 
        .action-btn.user-logged-in
          i.fa-solid.fa-user-check
          .user-dropdown
            .user-dropdown-header
              strong #{user.fullName}
            a(href="/user/profile") 
              i.fa-regular.fa-id-card
              | Thông tin tài khoản
            a(href="/user/orders") 
              i.fa-solid.fa-box-open
              | Đơn hàng của tôi
            hr
            a(href="/user/logout").text-danger
              i.fa-solid.fa-arrow-right-from-bracket
              | Đăng xuất
      else
        a(href="/user/login").action-btn
          i.fa-regular.fa-user