doctype html 
html(lang="vi")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title }

    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      )
      
    link(
      rel="stylesheet"
      href="/admin/assets/css/style.css"
    )

    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" 
      rel="stylesheet"
    )



  body.admin-body
    include ../partials/sidebar.pug

    .admin-main-wrapper
      include ../partials/header.pug

      main.admin-content
        block main

    script(src="https://cdn.jsdelivr.net/npm/chart.js")

    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

    //-TInyMCE
    script(src="/tinymce/tinymce.min.js") 
    script(src="/admin/assets/js/tinymce-config.js") 

    script(src="/admin/assets/js/script.js")
