extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug

block main
  +box-breadcrumb(breadcrumb)

  .article-list-page
    .container
      .article-grid
        each item in articles
          article.article-card
            a.article-card__img(href=`/article/detail/${item.slug}`)
              img(src=item.thumbnail, alt=item.title)
            
            .article-card__content
              .article-card__meta
                span.date
                  i.fa-regular.fa-calendar-days
                  |  #{item.createdAtFormat}
              
              h3.article-card__title
                a(href=`/article/detail/${item.slug}`) #{item.title}
              
              p.article-card__desc #{item.description}
              
              a.article-card__readmore(href=`/article/detail/${item.slug}`) 
                | Xem chi tiết 
                i.fa-solid.fa-arrow-right-long

      if pagination && pagination.totalPage > 1
        .box-pagination
          ul.pagination-list
            //- Ví dụ các nút phân trang
            li.pagination-item.active
              a(href="#") 1
            li.pagination-item
              a(href="#") 2
            li.pagination-item
              a(href="#") 3