extends ../layouts/default.pug
include ../mixins/product-item.pug

block main
  // SECTION 1: HERO
  section.hero
    img.hero__img(src=(settingWebsiteInfo.heroImage ? settingWebsiteInfo.heroImage : "") alt=settingWebsiteInfo.websiteName)
    
    .hero__overlay
    .hero__container 
      .hero__content
        .hero__badge 
          i.fa-solid.fa-trophy
          | #{settingWebsiteInfo.heroBadge}
        h1.hero__title  !{settingWebsiteInfo.heroTitle}
        p.hero__description #{settingWebsiteInfo.heroDescription}
        
        .hero__search-box
          form.hero-search-form(form-search)
            i.fa-solid.fa-magnifying-glass.icon-search
            input(placeholder="Bạn muốn tìm gì hôm nay?" type="text" name="keyword" keyword)
            button(type="submit") Tìm Kiếm
  // END SECTION 1: HERO

  // SECTION 2: CATEGORIES
  section.categories
    .categories__container
      .categories__header
        .categories__title-wrap
          h2.categories__title Khám Phá Bộ Sưu Tập

      .categories__grid
        if categoryChildren && categoryChildren.length > 0
          each cat in categoryChildren
            a.category-card(href=`/category/${cat.slug}`)
              .category-card__img-wrap
                img(src=cat.thumbnail, alt=cat.title)
              h3.category-card__title= cat.title
  // END SECTION 2: CATEGORIES

  // SECTION 3: FLASH DEALS
  section.flash-deals
    .flash-deals__container
      .flash-promo
        .flash-promo__badge
          i.fa-solid.fa-bolt
          | ƯU ĐÃI 2026
        h2.flash-promo__title-new
          | DEALS THỂ THAO
          br
          | CHÍNH HÃNG
        p.flash-promo__countdown-label Kết thúc sau:
        .flash-promo__countdown
          .countdown-box
            span.num 
            span.label GIỜ
          span.colon :
          .countdown-box
            span.num 
            span.label PHÚT
          span.colon :
          .countdown-box
            span.num 
            span.label GIÂY

      .flash-products-wrapper
        button.slider-btn.prev-btn
          i.fa-solid.fa-chevron-left
        .flash-products-list
          each item in productListSection3
            .flash-product-item
              +productItem(item)
        button.slider-btn.next-btn
          i.fa-solid.fa-chevron-right
  // END SECTION 3: FLASH DEALS

  // SECTION 5: SẢN PHẨM NỔI BẬT
  section.featured-products
    .featured-products__container
      h2.section-title Sản Phẩm Nổi Bật
      
      .featured-products__grid
        each item in productFeaturedSection5
          +productItem(item)

      .featured-products__actions
        a.btn-view-all-outline(href="#") 
          | Xem Tất Cả 
          i.fa-solid.fa-arrow-right-long
  // END SECTION 5

  // SECTION 6: BANNER QUẢNG CÁO
  section.banner-promo(data-aos="fade-up" data-aos-duration="800")
    .banner-promo__container
      .banner-promo__inner
        a(href="#")
          img(src=(settingWebsiteInfo.promoBannerImage ? settingWebsiteInfo.promoBannerImage : ""), alt="Banner Quảng Cáo")
  // END SECTION 6

  // SECTION 7: SẢN PHẨM MỚI NHẤT
  section.featured-products
    .featured-products__container
      h2.section-title Sản Phẩm Mới Nhất
      
      .featured-products__grid
        each item in productListSection7
          +productItem(item)

      .featured-products__actions
        a.btn-view-all-outline(href="#") 
          | Xem Tất Cả 
          i.fa-solid.fa-arrow-right-long
  // END SECTION 7

  // SECTION 9: TIN TỨC MỚI 
  section.news-section(data-aos="fade-up" data-aos-duration="800")
    .news-section__container
      h2.section-title Tin Tức Mới
      
      .news-grid
        .news-col.news-col--side
          each item in newsLeft
            a.news-card-small(href=`/article/detail/${item.slug}`)
              img(src=item.thumbnail, alt=item.title)
              .news-card-small__overlay
                span.date= item.createdAtFormat
                h4.title= item.title

        .news-col.news-col--center
          article.news-card-large
            a.news-card-large__img(href=`/article/detail/${newsCenter.slug}`)
              img(src=newsCenter.thumbnail, alt=newsCenter.title)
            .news-card-large__content
              span.date= newsCenter.createdAtFormat
              h3.title
                a(href=`/article/detail/${newsCenter.slug}`)= newsCenter.title
              p.desc= newsCenter.description

        .news-col.news-col--side
          each item in newsRight
            a.news-card-small(href=`/article/detail/${item.slug}`)
              img(src=item.thumbnail, alt=item.title)
              .news-card-small__overlay
                span.date= item.createdAtFormat
                h4.title= item.title
  // END SECTION 9
    