extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug
include ../mixins/product-item.pug
include ../mixins/pagination.pug

block main
  +box-breadcrumb(breadcrumb)
  section.product-list-page
    .container
      .product-list-page__inner
        aside.product-filter
          form(action=`/category/${category.slug}` method="GET" id="form-filter")
            .product-filter__header
              i.fa-solid.fa-filter
              h3.filter-title Bộ Lọc Sản Phẩm
              
            .filter-group
              h4.filter-group-title Danh Mục
              ul.filter-list
                if allChildCategories && allChildCategories.length > 0
                  each item in allChildCategories
                    li(class=(category.slug === item.slug ? "active" : ""))
                      a(href=`/category/${item.slug}`)
                        i.fa-solid.fa-caret-right
                        span #{item.title}

            .filter-group
              h4.filter-group-title Khoảng Giá
              ul.filter-list
                li
                  label
                    input(type="radio" name="price" value="under-1m" checked=(queryPrice === "under-1m"))
                    |  Dưới 1 Triệu
                li
                  label
                    input(type="radio" name="price" value="1m-to-3m" checked=(queryPrice === "1m-to-3m"))
                    |  1 Triệu - 3 Triệu
                li
                  label
                    input(type="radio" name="price" value="over-3m" checked=(queryPrice === "over-3m"))
                    |  Trên 3 Triệu

            .filter-actions
              button.btn-apply-filter(type="submit") 
                i.fa-solid.fa-filter
                | Áp Dụng
              
              a.btn-clear-filter(href=`/category/${category.slug}`) 
                i.fa-solid.fa-rotate-right
                | Xóa Lọc

        // --- 2. KHU VỰC SẢN PHẨM (BÊN PHẢI) ---
        main.product-content
          .product-content__header
            .header-info
              h2.title #{breadcrumb.title}
              p.desc Tổng #{productCategory.length} sản phẩm
              
            .header-sort
              span Sắp xếp:
              select.sort-select(name="sort" id="sort-select")
                option(value="newest" selected=(querySort === "newest")) Mới Nhất
                option(value="price-asc" selected=(querySort === "price-asc")) Giá tăng dần
                option(value="price-desc" selected=(querySort === "price-desc")) Giá giảm dần
          
          .product-content__grid
            each product in productCategory
              +productItem(product)

          // PHÂN TRANG
          +pagination(pagination)