mixin category-tree(items, level = 0)
  each item in items
    - const prefix = Array(level + 1).join('-- ')
    
    tr
      td.text-center
        input(type="checkbox" value=item.id name="id" check-item)
      
      td.font-weight-600 #{prefix}#{item.title}
      
      td
        if item.thumbnail
          img.td-thumbnail(src=item.thumbnail alt=item.title)
          
      td #{item.position}
      
      td
        span(class=`badge-status ${item.status == "active" ? "badge-active" : "badge-inactive"}`) #{item.status == "active" ? "Hoạt động" : "Tạm dừng" }
      
      td
        .user-date
          if item.createdByFullName
            span.name #{item.createdByFullName}
            span.time #{item.createdAtFormat}
            
      td
        .user-date
          if item.updatedByFullName
            span.name #{item.updatedByFullName}
            span.time #{item.updatedAtFormat}
            
      td
        .action-btns
          a(href=`/${pathAdmin}/category/edit/${item.id}`).btn-edit
            i.fa-regular.fa-pen-to-square
          button.btn-delete(button-delete data-id=item.id)
            i.fa-regular.fa-trash-can
            
    if item.children && item.children.length > 0
      +category-tree(item.children, level + 1)