extends ../layouts/default.pug
include ../mixins/alert.pug
include ../mixins/bulk-action.pug
include ../mixins/filter-status.pug
include ../mixins/filter-created-by.pug
include ../mixins/filter-date-range.pug
include ../mixins/pagination.pug

block main
  +alert-success(3000)
  +alert-error(3000)
  h1.page-title Quản lý bài viết 

  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
      
      +filter-status()
        
      +filter-created-by(accountAdminList)
        
      +filter-date-range()
        
      button.btn-clear(filter-reset)
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc

    .action-row
      +bulk-action([
        { value: "delete-all", label: "xóa" },
        { value: "active", label: "Hoạt động" },
        { value: "inactive", label: "Dừng hoạt động" }
      ])
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm tiêu đề bài viết..." search)
        
      .action-buttons-right
        a(href=`/${pathAdmin}/article/create`).btn-create
          i.fa-solid.fa-plus
          | Tạo mới
        a(href=`/${pathAdmin}/article/trash`).btn-trash
          i.fa-regular.fa-trash-can
          | Thùng rác
          
  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox" check-all)
            th Tiêu đề 
            th Hình ảnh
            th Vị trí
            th Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        
        tbody
          if articleList && articleList.length > 0
            each item in articleList
              tr
                td.text-center
                  input(type="checkbox" value=item.id name="id" check-item)
                
                td.font-weight-600 #{item.title}
                
                td
                  img.td-thumbnail(src=item.thumbnail alt=item.title)
                
                td #{item.position}
                
                td
                  span(class=`badge-status ${item.status == "active" ? "badge-active" : "badge-inactive"}`) #{item.status == "active" ? "Hoạt động" : "Tạm dừng" }
                
                td
                  .user-date
                    span.name #{item.createdByFullName}
                    span.time #{item.createdAtFormat}
                td
                  .user-date
                    span.name #{item.updatedByFullName}
                    span.time #{item.updatedAtFormat}

                td
                  .action-btns
                    a(href=`/${pathAdmin}/article/edit/${item.id}`).btn-edit
                      i.fa-regular.fa-pen-to-square
                    button.btn-delete(button-delete data-id=item.id)
                      i.fa-regular.fa-trash-can
          else 
            tr
              td(colspan="7" class="text-center" style="padding: 30px; color: #777;") Chưa có bài viết nào. Hãy bấm "Tạo mới" để thêm bài viết!

    .admin-pagination
      +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`/${pathAdmin}/article/delete`
  )

  form(
    action=""
    method="POST"
    id="form-change-multi"
    data-path=`/${pathAdmin}/article/change-multi`
  )
    input(type="hidden" name="type")
    input(type="hidden" name="ids")