extends ../layouts/default.pug
include ../mixins/alert.pug
include ../mixins/bulk-action.pug
include ../mixins/filter-status.pug
include ../mixins/filter-created-by.pug
include ../mixins/filter-date-range.pug
include ../mixins/category-tree.pug

block main
  +alert-success(3000)
  +alert-error(3000)
  h1.page-title Quản lý danh mục

  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc

      +filter-status()
        
      +filter-created-by(accountAdminList)
        
      +filter-date-range()
      
      button.btn-clear(filter-reset-category)
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc


    .filter-row
      .filter-label
        i.fa-solid.fa-folder-tree
        span Danh mục

      select.form-select(filter-category style="border: 2px solid #466BD6; font-weight: 600; color: #466BD6;")
        if parentCategoryList
          each item in parentCategoryList
            option(
              value=item.id 
              selected=(categoryId == item.id ? true : false)
            ) #{item.title}

    .action-row
      +bulk-action([
        { value: "delete-all", label: "xóa" },
        { value: "active", label: "Hoạt động" },
        { value: "inactive", label: "Dừng hoạt động" }
      ])
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm danh mục..." search)
      
      .action-buttons-right
        a(href=`/${pathAdmin}/category/create`).btn-create
          i.fa-solid.fa-plus
          | Tạo mới
        a(href=`/${pathAdmin}/category/trash`).btn-trash
          i.fa-regular.fa-trash-can
          | Thùng rác

  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox" check-all)
            th Tên danh mục
            th Ảnh đại diện
            th Vị trí
            th Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody
          +category-tree(categoryList)
          
  form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`/${pathAdmin}/category/delete`
    )
            
  form(
      action=""
      method="POST"
      id="form-change-multi"
      data-path=`/${pathAdmin}/category/change-multi`
    )
      input(type="hidden" name="type")
      input(type="hidden" name="ids")