extends ../layouts/default.pug
include ../mixins/alert.pug
block main
  +alert-success(3000)
  h1.page-title Quản lý danh mục

  //- 1. KHỐI BỘ LỌC VÀ HÀNH ĐỘNG
  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
      
      select.form-select
        option(value="") Trạng thái
        option(value="active") Hoạt động
        option(value="inactive") Tạm dừng
        
      select.form-select
        option(value="") Người tạo
        option Lê Văn A
        option Lê Văn B
        
      .date-range-picker
        input(type="text" placeholder="dd/mm/yyyy")
        span -
        input(type="text" placeholder="dd/mm/yyyy")
        
      button.btn-clear
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc
    .action-row
      .bulk-action
        select.form-select
          option(value="") -- Hành động --
          option(value="delete") Xóa nhiều
          option(value="active") Đổi trạng thái
        button.btn-apply Áp dụng
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm danh mục...")
        
      a(href=`/${pathAdmin}/category/create`).btn-create
        i.fa-solid.fa-plus
        | Tạo mới

  //- 2. BẢNG DỮ LIỆU
  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox")
            th Tên danh mục
            th Ảnh đại diện
            th Vị trí
            th Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        
        tbody
          each item in categoryList
            //- Dòng 1
            tr
              td.text-center
                input(type="checkbox")
              td.font-weight-600 #{item.title}
              td
                img.td-thumbnail(src=item.thumbnail alt=item.title)
              td #{item.position}
              td
                span(class=`badge-status ${item.status == "active" ? "badge-active" : "badge-inactive"}`) #{item.status == "active" ? "Hoạt động" : "Tạm dừng" }
              td
                .user-date
                  span.name #{item.createdByFullName}
                  span.time #{item.createdAtFormat}
              td
                .user-date
                  span.name #{item.updatedByFullName}
                  span.time #{item.updatedAtFormat}
              td
                .action-btns
                  button.btn-edit(title="Sửa"): i.fa-regular.fa-pen-to-square
                  button.btn-delete(title="Xóa"): i.fa-regular.fa-trash-can

            