extends ../layouts/default.pug
include ../mixins/alert.pug
include ../mixins/filter-status.pug
include ../mixins/filter-created-by.pug
include ../mixins/filter-date-range.pug
include ../mixins/pagination.pug
block main
  +alert-success(3000)
  +alert-error(3000)
  h1.page-title Quản lý danh mục

  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
      
      +filter-status()
        
      +filter-created-by(accountAdminList)
        
      +filter-date-range()
        
      button.btn-clear(filter-reset)
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc
    .action-row
      .bulk-action
        select.form-select(chang-multi)
          option(value="") -- Hành động --
          option(value="delete") Xóa nhiều
          option(value="active") Đổi trạng thái
          option(value="active") Xóa
        button.btn-apply Áp dụng
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm danh mục..." search)
        
      a(href=`/${pathAdmin}/category/create`).btn-create
        i.fa-solid.fa-plus
        | Tạo mới

  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox" check-all)
            th Tên danh mục
            th Ảnh đại diện
            th Vị trí
            th Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody
          each item in categoryList
            tr
              td.text-center
                input(type="checkbox" check-item=item.id)
              td.font-weight-600 #{item.title}
              td
                img.td-thumbnail(src=item.thumbnail alt=item.title)
              td #{item.position}
              td
                span(class=`badge-status ${item.status == "active" ? "badge-active" : "badge-inactive"}`) #{item.status == "active" ? "Hoạt động" : "Tạm dừng" }
              td
                .user-date
                  span.name #{item.createdByFullName}
                  span.time #{item.createdAtFormat}
              td
                .user-date
                  span.name #{item.updatedByFullName}
                  span.time #{item.updatedAtFormat}
              td
                .action-btns
                  a(href=`/${pathAdmin}/category/edit/${item.id}`).btn-edit
                    i.fa-regular.fa-pen-to-square
                  button.btn-delete(button-delete data-id=item.id)
                    i.fa-regular.fa-trash-can
    .admin-pagination
      +pagination(pagination)
  form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`/${pathAdmin}/category/delete`
    )
            