extends ../layouts/default.pug
include ../mixins/alert.pug
include ../mixins/filter-status.pug
include ../mixins/bulk-action.pug
include ../mixins/pagination.pug

block main
  +alert-success(3000)
  +alert-error(3000)

  h1.page-title Danh sách Mã giảm giá

  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
        
      +filter-status()
        
      button.btn-clear(filter-reset)
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc
    .action-row
      +bulk-action([
        { value: "delete-all", label: "xóa" },
        { value: "active", label: "Hoạt động" },
        { value: "inactive", label: "Dừng hoạt động" }
      ])
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm mã giảm giá..." search)

      .action-buttons-right
        a(href=`/${pathAdmin}/coupon/create`).btn-create
          i.fa-solid.fa-plus
          | Thêm mã giảm giá
        a(href=`/${pathAdmin}/coupon/trash`).btn-trash
          i.fa-regular.fa-trash-can
          | Thùng rác

  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox" check-all)
            th Mã coupon
            th Tên sự kiện
            th Trạng thái
            th % Giảm giá
            th Giảm tối đa
            th Số lượng còn lại
            th Ngày hết hạn
            th Hành động
        
        tbody
          if couponList && couponList.length > 0
            each item in couponList
              tr
                td.text-center
                  input(type="checkbox" value=item.id name="id" check-item)
                td.font-weight-600.text-uppercase #{item.code}
                td #{item.title}
                td 
                  span(class=`badge-status ${item.status === 'active' ? 'badge-active' : 'badge-inactive'}`) #{item.status === 'active' ? 'Hoạt động' : 'Tạm dừng'}
                td #{item.discountPercentage}%
                td #{item.maxDiscountAmount.toLocaleString('vi-VN')} đ
                td #{item.quantity}
                td #{item.expirationDateFormat}
                td
                  .action-btns
                    a.btn-edit(href=`/${pathAdmin}/coupon/edit/${item.id}` title="Sửa")
                      i.fa-regular.fa-pen-to-square
                    button.btn-delete(button-delete data-id=item.id title="Xóa")
                      i.fa-regular.fa-trash-can
          else
            tr
              td.text-center(colspan="7" style="padding: 30px;") Chưa có mã giảm giá nào.

  .admin-pagination
    +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`/${pathAdmin}/coupon/delete`
  )

  form(
    action=""
    method="POST"
    id="form-change-multi"
    data-path=`/${pathAdmin}/coupon/change-multi`
  )
    input(type="hidden" name="type")
    input(type="hidden" name="ids")