extends ../layouts/default.pug

block main
  h1.page-title Quản lý đơn hàng
  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
      
      select.form-select
        option(value="") Trạng thái đơn
        option(value="pending") Khởi tạo
        option(value="processing") Đang xử lý
        option(value="completed") Hoàn thành
        
      .date-range-picker
        input(type="text" placeholder="dd/mm/yyyy")
        span -
        input(type="text" placeholder="dd/mm/yyyy")
        
      select.form-select
        option(value="") Phương thức thanh toán
        option COD (Nhận hàng thanh toán)
        option Chuyển khoản VNPay
        option Ví MoMo
        
      select.form-select
        option(value="") Trạng thái thanh toán
        option Chưa thanh toán
        option Đã thanh toán
        
      button.btn-clear
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc
    .action-row
      .search-box-large(style="max-width: 500px;")
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm theo Mã đơn, Tên khách hàng, SĐT...")
  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th Mã ĐH
            th Thông tin khách
            th(width="300px") Danh sách sản phẩm
            th Thanh toán
            th Trạng thái
            th Ngày đặt
            th Hành động
        
        tbody
          each orderDetail in orderList
            tr
              td.order-code #{orderDetail.orderCode}
              td
                .customer-info
                  span.font-weight-600 #{orderDetail.fullName}
                  span.phone SĐT: #{orderDetail.phone}
                  span.phone Địa chỉ: #{orderDetail.address}
                  if(orderDetail.note)
                    span.phone(style="color: var(--red-main)") Ghi chú: #{orderDetail.note}
              td
                .order-products-list
                  each item in orderDetail.products
                    .product-mini-item
                      img(src=item.thumbnail alt=item.title)
                      .prod-info
                        span.prod-name #{item.title}
                        span.prod-meta #{item.size} | SL: #{item.quantity} | #{item.priceNewQuantity.toLocaleString('vi-VN')} đ
              td
                .payment-summary
                  span Tạm tính: #{orderDetail.subtotal.toLocaleString('vi-VN')} đ
                  //- span Phí ship: 30.000đ
                  span Giảm giá: #{orderDetail.discount.toLocaleString('vi-VN')} đ
                  //- span Mã giảm: TTNNSASD12
                  span.total-pay Thanh toán: #{orderDetail.total.toLocaleString('vi-VN')} đ
                  span PTTT: #{orderDetail.paymentMethodName}
                  span TTTT: #{orderDetail.paymentStatusName}
              td
                - var statusClass = orderDetail.status ? `badge-${orderDetail.status}` : 'badge-pending'
                span.badge-status(class=statusClass)  #{orderDetail.statusName}
              td
                .user-date
                  span.name #{orderDetail.createdAtTime}
                  span.time #{orderDetail.createdAtDate}
              td: .action-btns
                  a.btn-edit(href=`/${pathAdmin}/order/edit/${orderDetail.id}` title="Cập nhật")
                    i.fa-regular.fa-pen-to-square
                  button.btn-delete(title="Hủy đơn"): i.fa-regular.fa-trash-can


    .admin-pagination
      ul.pagination-list
        li.page-item.disabled: a.page-link(href="#"): i.fa-solid.fa-angle-left
        li.page-item.active: a.page-link(href="#") 1
        li.page-item: a.page-link(href="#") 2
        li.page-item: a.page-link(href="#") 3
        li.page-item.dots: span ...
        li.page-item: a.page-link(href="#"): i.fa-solid.fa-angle-right