extends ../layouts/default.pug

block main
  .page-header
    h1.page-title Thùng rác sản phẩm
    a.btn-back(href=`/${pathAdmin}/product/list`) 
      i.fa-solid.fa-arrow-left
      | Quay lại danh sách

  .filter-action-card
    .action-row
      .bulk-action
        select.form-select
          option(value="") -- Hành động --
          option(value="restore") Khôi phục
          option(value="delete-permanent") Xóa vĩnh viễn
        button.btn-apply Áp dụng
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm sản phẩm trong thùng rác...")
  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px"): input(type="checkbox")
            th Tên sản phẩm
            th Ảnh đại diện
            th Giá (VNĐ)
            th Tồn kho
            th Vị trí
            th Trạng thái
            th Tạo bởi
            th Xóa bởi
            th Hành động
        
        tbod
          each item in productList
            tr
              td.text-center
                input(type="checkbox")
              td.font-weight-600 #{item.title}
              td
                img.td-thumbnail(src=item.thumbnail alt=item.title)
              
              td.text-price #{item.price.toLocaleString('vi-VN')}đ
              
              td
                .inventory-list
                  each size in item.sizes
                    .inventory-item
                      span #{size.size}
                      span #{size.stock}
                    
              td #{item.position}
              td 
                  span.badge-status.badge-inactive Tạm dừng
              td
                .user-date
                  span.name #{item.createdByFullName}
                  span.time #{item.createdAtFormat}
              
              td
                .user-date
                  span.name #{item.deletedByFullName}
                  span.time #{item.deletedAtFormat}
                  
              td: .action-btns
                  button.btn-restore(button-restore data-id=item.id)
                    i.fa-solid.fa-rotate-left
                  button.btn-delete( title="Xóa vĩnh viễn" button-delete data-id=item.id)
                    i.fa-regular.fa-trash-can


    .admin-pagination
      ul.pagination-list
        li.page-item.disabled: a.page-link(href="#"): i.fa-solid.fa-angle-left
        li.page-item.active: a.page-link(href="#") 1
        li.page-item: a.page-link(href="#") 2
        li.page-item.dots: span ...
        li.page-item: a.page-link(href="#"): i.fa-solid.fa-angle-right

  form(
    action=""
    method="POST"
    id="form-restore-item"
    data-path=`/${pathAdmin}/product/restore`
  )
  form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`/${pathAdmin}/product/delete-destroy`
  )