extends ../layouts/default.pug
include ../mixins/alert.pug

block main
  +alert-success(3000)
  +alert-error(3000)
  
  h1.page-title Danh sách tài khoản quản trị

  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
      
      select.form-select
        option(value="") Trạng thái
        option(value="active") Hoạt động
        option(value="inactive") Tạm dừng
        
      .date-range-picker
        input(type="text" placeholder="dd/mm/yyyy")
        span -
        input(type="text" placeholder="dd/mm/yyyy")
        
      select.form-select
        option(value="") Nhóm quyền
        option Quản trị viên
        option Kế toán
        option Nhân viên Sale
        
      button.btn-clear
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc

    .action-row
      .bulk-action
        select.form-select
          option(value="") -- Hành động --
          option(value="active") Đổi trạng thái
          option(value="delete") Xóa
        button.btn-apply Áp dụng
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm tài khoản...")
        
      .action-buttons-right
        a.btn-create(href=`/${pathAdmin}/setting/account-admin/create`)
          i.fa-solid.fa-plus
          | Tạo mới
        a(href=`/${pathAdmin}/setting/account-admin/trash`).btn-trash
          i.fa-regular.fa-trash-can
          | Thùng rác
  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox")
            th Họ tên
            th.text-center Ảnh đại diện
            th Email
            th Số điện thoại
            th Nhóm quyền
            th Chức vụ
            th Trạng thái
            th Hành động
        
        tbody
          each item in accountList
            tr
              td.text-center
                input(type="checkbox")
              td.font-weight-600 #{item.fullName}
              td.text-center
                img.td-avatar(src=item.avatar alt=item.fullName)
              td.text-email #{item.email}
              td.text-phone #{item.phone}
              td #{item.role_name}
              td #{item.jobTitle}
              td
                span.badge-status(class= `${item.status === 'active' ? 'badge-active' : 'badge-inactive'}`) #{item.status == "active" ? "Hoạt động" : "Tạm dừng"}
              td
                .action-btns
                  a(href=`/${pathAdmin}/setting/account-admin/edit/${item.id}`).btn-edit(title="Sửa")
                    i.fa-regular.fa-pen-to-square
                  button.btn-delete(button-delete data-id=item.id)
                    i.fa-regular.fa-trash-can

    //- 3. PHÂN TRANG
    .admin-pagination
      ul.pagination-list
        li.page-item.disabled: a.page-link(href="#"): i.fa-solid.fa-angle-left
        li.page-item.active: a.page-link(href="#") 1
        li.page-item: a.page-link(href="#") 2
        li.page-item.dots: span ...
        li.page-item: a.page-link(href="#"): i.fa-solid.fa-angle-right

  form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`/${pathAdmin}/setting/account-admin/delete`
    )