extends ../layouts/default.pug
include ../mixins/alert.pug
block main
  +alert-success(3000)
  +alert-error(3000)
  .page-header
    h1.page-title Nhóm quyền

  .filter-action-card
    .action-row
      .bulk-action
        select.form-select
          option(value="") -- Hành động --
          option(value="delete") Xóa nhiều
        button.btn-apply Áp dụng
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm nhóm quyền...")
        
      .action-buttons-right
        a.btn-create(href=`/${pathAdmin}/setting/role/create`)
          i.fa-solid.fa-plus
          | Tạo mới

  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox")
            th Tên nhóm quyền
            th Mô tả ngắn
            th Hành động
        
        tbody
          each item in roleList
            tr
              td.text-center
                input(type="checkbox")
              td.font-weight-600 #{item.name}
              td #{item.description}
              td
                .action-btns
                  a(href=`/${pathAdmin}/setting/role/edit/${item.id}`).btn-edit
                    i.fa-regular.fa-pen-to-square
                  button.btn-delete(button-delete data-id=item.id)
                    i.fa-regular.fa-trash-can

  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`/${pathAdmin}/setting/role/delete`
  )
          