extends ../layouts/default.pug
include ../mixins/alert.pug
include ../mixins/bulk-action.pug
include ../mixins/filter-status.pug
include ../mixins/pagination.pug

block main
  +alert-success(3000)
  +alert-error(3000)
  .page-header
    h1.page-title Thùng rác tài khoản khách hàng
    a.btn-back(href=`/${pathAdmin}/user/list`) 
      i.fa-solid.fa-arrow-left
      | Quay lại danh sách

  .filter-action-card
    .filter-row
      .filter-label
        i.fa-solid.fa-filter
        span Bộ lọc
      
      +filter-status()
              
      button.btn-clear(filter-reset)
        i.fa-solid.fa-rotate-right
        | Xóa bộ lọc

    .action-row
      +bulk-action([
        { value: "delete-all", label: "Xóa nhiều" },
        { value: "active", label: "Hoạt động" },
        { value: "inactive", label: "Khóa tài khoản" }
      ])
        
      .search-box-large
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm theo tên, email..." search)

  .table-section
    .table-responsive
      table.admin-table.table-hover
        thead
          tr
            th.text-center(width="50px")
              input(type="checkbox" check-all)
            th Họ và tên
            th Email
            th Trạng thái
            th Xóa bởi
            th Hành động
        
        tbody
          if userList && userList.length > 0
            each item in userList
              tr
                td.text-center
                  input(type="checkbox" value=item.id name="id" check-item)
                
                td.font-weight-600 #{item.fullName}
                
                td #{item.email}
                
                td 
                  span(class=`badge-status ${item.status === 'active' ? 'badge-active' : 'badge-inactive'}`) #{item.status === 'active' ? 'Hoạt động' : 'Tạm dừng'}
                
                
                td
                  .user-date
                    span.name #{item.deletedByFullName}
                    span.time #{item.deletedAtFormat}
                
                td
                  .action-btns
                    button.btn-restore(button-restore data-id=item.id title="Khôi phục")
                      i.fa-solid.fa-rotate-left
                    button.btn-delete(button-delete data-id=item.id title="Xóa vĩnh viễn")
                      i.fa-regular.fa-trash-can
          else
            tr
              td(colspan="7" class="text-center" style="padding: 30px; color: #777;") Thùng rác trống. Không có tài khoản nào bị xóa!
      
  //- PHÂN TRANG (PAGINATION)
  //- .admin-pagination
  //-   +pagination(pagination)

  //- Các Form ẩn dùng để gửi request khi thực hiện Hành động (Xóa, Đổi trạng thái)
  form(
    action=""
    method="POST"
    id="form-restore-item"
    data-path=`/${pathAdmin}/user/restore`
  )
  
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`/${pathAdmin}/user/delete-destroy`
  )