extends ../layouts/default.pug
include ../mixins/alert.pug

block main
  +alert-error(3000)
  +alert-success(3000)
  .page-header
    h1.page-title Thông tin website
    a.btn-back(href=`/${pathAdmin}/setting/list`) 
      i.fa-solid.fa-arrow-left
      | Quay lại cài đặt chung

  .form-card
    form(action=`/${pathAdmin}/setting/website-info?_method=PATCH` method="POST" enctype="multipart/form-data")
      .form-row-2
        .form-group
          label Tên website
          input.form-control(type="text" name="websiteName" value=settingWebsiteInfo.websiteName)
        
        .form-group
          label Số điện thoại
          input.form-control(type="text" name="phone" value=settingWebsiteInfo.phone)

      .form-row-2
        .form-group
          label Email
          input.form-control(type="email" name="email" value=settingWebsiteInfo.email)
        
        .form-group
          label Địa chỉ
          input.form-control(type="text" name="address" value=settingWebsiteInfo.address)
      .form-row-2.upload-row
        .form-group
          label Logo
          .upload-image-wrapper(upload-image-wrapper)
            input#logo-upload.hidden-input(upload-image-input type="file" name="logo" accept="image/*")
            label.upload-box(for="logo-upload" upload-image-label class=(settingWebsiteInfo.logo ? "hidden" : ""))
              i.fa-solid.fa-plus
            .image-preview-container(upload-image-preview-container class=(settingWebsiteInfo.logo ? "" : "hidden"))
              img(upload-image-preview src=(settingWebsiteInfo.logo ? settingWebsiteInfo.logo : "") alt="Preview")
              button.btn-remove-image(type="button" button-remove-image title="Xóa ảnh")
                i.fa-solid.fa-xmark
                
        .form-group
          label Favicon
          .upload-image-wrapper(upload-image-wrapper)
            input#favicon-upload.hidden-input(upload-image-input type="file" name="favicon" accept="image/*")
            label.upload-box(for="favicon-upload" upload-image-label class=(settingWebsiteInfo.favicon ? "hidden" : ""))
              i.fa-solid.fa-plus
            .image-preview-container(upload-image-preview-container class=(settingWebsiteInfo.favicon ? "" : "hidden"))
              img(upload-image-preview src=(settingWebsiteInfo.favicon ? settingWebsiteInfo.favicon : "") alt="Preview")
              button.btn-remove-image(type="button" button-remove-image title="Xóa ảnh")
                i.fa-solid.fa-xmark

      .form-actions-stacked
        button.btn-submit.btn-submit-large(type="submit") Cập nhật