mixin productItem(item) 
  .flash-product-card
    .flash-product-card__img-wrap
      span(class=`badge ${item.badgeClass || 'badge-pink'}`) #{item.badgeText}
      img(src=item.avatar, alt=item.name)
      
    h3.flash-product-card__title #{item.name}

    .flash-product-card__rating
      - var fullStars = Math.floor(item.ratingStars)
      - var hasHalfStar = item.ratingStars % 1 !== 0
      - var emptyStars = 5 - Math.ceil(item.ratingStars)
      
      - for (let i = 0; i < fullStars; i++)
        i.fa-solid.fa-star
      - if (hasHalfStar)
        i.fa-solid.fa-star-half-stroke
      - for (let i = 0; i < emptyStars; i++)
        i.fa-regular.fa-star

    .flash-product-card__bottom
      .flash-product-card__price
        span.old-price #{item.priceOld.toLocaleString('vi-VN')}đ
        span.new-price #{item.priceNew.toLocaleString('vi-VN')}đ
      button.btn-cart
        i.fa-solid.fa-cart-plus