doctype html 
html(lang="vi")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title }

    if(settingWebsiteInfo.favicon)
      link(rel="icon" type="image/x-icon" href=settingWebsiteInfo.favicon)

    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      )
      
    link(
      rel="stylesheet"
      href="/client/assets/css/style.css"
    )

    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" 
      rel="stylesheet"
    )



  body

    include ../mixins/alert.pug
    include ../partials/header.pug

    +alert-success(3000)
    +alert-error(3000)
    block main
  
    include ../partials/footer.pug    

    include ../partials/box-contact.pug   

    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    
    script(src="/client/assets/js/script.js") 