aside.admin-sidebar
  a(href=`/${pathAdmin}/dashboard`).sidebar-brand
    i.fa-solid.fa-shield-halved
    span TitiSport
  
  ul.sidebar-menu
    li
      a(href=`/${pathAdmin}/dashboard`)
        i.fa-solid.fa-chart-pie
        span Tổng quan
    if(role.permissions.includes("category_view"))
      li
        a(href=`/${pathAdmin}/category/list`)
          i.fa-solid.fa-table-cells-large
          span Quản lý danh mục
    if(role.permissions.includes("product_view"))
      li
        a(href=`/${pathAdmin}/product/list`)
          i.fa-solid.fa-box-open
          span Quản lý sản phẩm
    
    if(role.permissions.includes("order_view"))
      li
        a(href=`/${pathAdmin}/order/list`)
          i.fa-solid.fa-cart-shopping
          span Quản lý đơn hàng
    if(role.permissions.includes("user_view"))
      li
        a(href=`/${pathAdmin}/user/list`)
          i.fa-solid.fa-users
          span Quản lý người dùng
    if(role.permissions.includes("contact_view"))
      li
        a(href=`/${pathAdmin}/contact/list`)
          i.fa-solid.fa-address-book
          span Thông tin liên hệ

      li
        a(href=`/${pathAdmin}/article/list`)
          i.fa-solid.fa-newspaper
          span Quản lý bài viết

  .sidebar-footer
    ul.sidebar-menu.bottom-menu
      if(role.permissions.includes("setting_view"))
        li
          a(href=`/${pathAdmin}/setting/list`)
            i.fa-solid.fa-gear
            span Cài đặt chung
      if(role.permissions.includes("profile_view"))
        li
          a(href=`/${pathAdmin}/profile/edit`)
            i.fa-regular.fa-user
            span Thông tin cá nhân
    
    a(href=`/${pathAdmin}/auth/logout`).logout-btn
      i.fa-solid.fa-arrow-right-from-bracket
      span Đăng xuất